.title img {
  position: absolute;
  display: inline-block;
  width: 5em;
  padding: 10px 0 0 20px;
}

.title h1 {
  color: white;
  background-color: black;
  font-family: "Anton", sans-serif;
  font-size: 50px;
  padding: 30px;
}

#content {
  background-color: whitesmoke;
  padding-bottom: 100px;
}

h2 {
  font-family: "Anton", sans-serif;
  font-size: 50px;
  padding: 50px 0 50px 0;
}

.colourButton {
  background-color: rgb(255, 0, 0);
  width: 75px;
  height: 75px;
  border: none;
  border-radius: 50%;
  box-shadow: none;
  margin: 10px;
}

#buttonWrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
}

h1,
h2 {
  text-align: center;
}

#colorValue {
  margin: 0 auto;
  text-align: center;
}

#reset {
  margin: 0 auto;
  text-align: center;
}

#resetButton {
  font-family: "Anton", sans-serif;
  padding: 10px;
  background-color: none;
  border: none;
  border-radius: 5px;
  margin: 10px;
  padding: 15px 20px;
  background-color: black;
  color: white;
}
